<footer class="footer">
  <div class="page-wrapper">
    <div class="footer">
      <div class="button-circle footer__button">
        <a
          href="#headerId"
          class="button-link"
          title="Go to section: 3 Reasons To Purchase"
        >
          <img
            src="./assets/images/ico-arrow.svg"
            alt="Go to home"
            class="header__button--icon"
        /></a>
      </div>

      <nav class="footer__nav-sections">
        <ul class="footer__nav-sections--box">
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__nav-sections--item"
              title="Go to Adalab's Articles"
              >Articles</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__nav-sections--item"
              title="Go to Adalab's Books"
              >Books</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__nav-sections--item"
              title="Go to Adalab's Events"
              >Events</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__nav-sections--item"
              title="Go to Adalab's Reasons"
              >Reasons</a
            >
          </>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class="footer__nav-sections--item"
              title="Go to Adalab's Tips"
              >Tips</a
            >
          </li>
        </ul>
      </nav>

      <nav class="footer__nav-rrss">
        <ul class="footer__nav-rrss--box">
          <li>
            <a 
            href="https://adalab.es/" 
            target="_blank" 
            class="footer__nav-rrss--item" 
            title="Go to Adalab's Twitter"
              >Twitter</a
            >
          </li>
          <li>
            <a 
            href="https://adalab.es/" 
            target="_blank" 
            class="footer__nav-rrss--item" 
            title="Go to Adalab's Instagram"
              >Instagram</a
            >
          </li>
          <li>
            <a 
            href="https://adalab.es/" 
            target="_blank" 
            class="footer__nav-rrss--item" 
            title="Go to Adalab's Mastodon Social"
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>

      <div class="footer__copy">
        <p class="footer__copy--text">&copy;2021</p>
        <small class="footer__copy--text">we ❤︎ components</small>
      </div>
    </div>
  </div>
</footer>
