<footer class="footer">
  <div class="page-wrapper">
    <div class="footer">
      <div class="button-circle footer__button">
        <a
          href="#headerId"
          class="button-link"
          title="Go to section: 3 Reasons To Purchase"
        >
          <img
            src="./assets/images/ico-arrow.svg"
            alt="Go to home"
            class="header__button--icon"
        /></a>
      </div>
      <nav class="footer__nav-sections">
        <ul>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class=""
              title="Go to Adalab's Articles"
              >Articles</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class=""
              title="Go to Adalab's Books"
              >Books</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class=""
              title="Go to Adalab's Events"
              >Events</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class=""
              title="Go to Adalab's Reasons"
              >Reasons</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              class=""
              title="Go to Adalab's Tips"
              >Tips</a
            >
          </li>
        </ul>
      </nav>

      <nav class="footer__nav-rrss">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank" class="" title=""
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" class="" title=""
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" class="" title=""
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>

      <div class="footer__copy">
        <p>&copy;2021</p>
        <small>we ❤︎ components</small>
      </div>
    </div>
  </div>
</footer>
