<!-- Ej. <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header> -->

<header class="header">
  <nav class="header__menu">
    <a
      href="https://adalab.es/"
      target="_blank"
      class="header__menu--link"
      title="Go to a Adalab - Web Oficial"
    >
      <img
        src="./assets/images/ico-menu.svg"
        alt="Icon Menu"
        class="header__menu--icon"
      />
    </a>
  </nav>

  <h1 class="header__title">ANONYMOUS PROXY</h1>
  <p class="header__text">In hac habitasse platea dictumst.</p>

  <div class="button-circle header__button">
    <a
      href="#reasonToPurchase"
      target="_blank"
      class=""
      title="Go to section: 3 Reasons To Purchase"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Icon Go"
        class="header__button--icon"
    /></a>
  </div>
</header>
