<header class="header" id="headerId">
  <div class="header__cover">
  <nav class="header__menu">
      <a
        href="https://adalab.es/"
        target="_blank"
        class= "header__menu--link"
        title="Go to Adalab - Web Oficial"
      >
        <img
          src="./assets/images/ico-menu.svg"
          alt="Icon Menu"
          class="header__menu--icon"
        />
      </a>
  </nav>
  
  <div class="header__container page-wrapper">
    <h1 class="header__container--title"> Anonymous Proxy</h1>
    <p class="header__container--text">In hac habitasse platea dictumst.</p>
    <div class="header__container--button">
      <div class="button-circle">
        <a
          href="#reasonToPurchase"
          class="button-link"
          title="Go to section: 3 Reasons To Purchase"
        >
          <img
            src="./assets/images/ico-scroll-down.svg"
            alt="Icon Go"
            class="header__button--icon button-icon"
        /></a>
      </div>
    </div>
  </div>

</header>
