<section class="reasons">
  <div class="page-wrapper">
    <div class="reasons">
      <h2 class="reasons__title">3 reasons to purchase</h2>

      <include
        src="./cards.html"
        class=".card"
        title1="Ut sed metus"
        text1="Lorem ipsum dolor sit amet, consecteur."
      ></include>
      <include
        src="./cards.html"
        class=".card"
        title2="Curabitur ac erat"
        text2="Mauris mattis urna quis lorem molestie."
      ></include>
      <include
        src="./cards.html"
        class=".card"
        title3="Morbi dictum"
        text3="Aliquam in dolor et dolor tincidunt."
      ></include>

      <div class="reasons__button">
        <div class="reasons__button--box">
          <a href="/" class="reasons__button--link">More reasons</a>
        </div>
    </div>
    </div>
  </div>
</section>
