<section class="reasons">
    
  <h2 class="reasons__title">3 reasons to purchase</h2>

  <include
    src="./cards.html"
    title="Ut sed metus"
    text="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="./cards.html"
    title="Curabitur ac erat"
    text="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="./cards.html"
    title="Morbi dictum"
    text="Aliquam in dolor et dolor tincidunt."
  ></include>

  <div><a href="" target="_blank" class="" title="">More reasons</a></div>
</section>
