.about-us {
    display: flex;
    flex-direction: column;
    height: rem(376);


    &__tips {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 16;
        height: rem(30);
        font-size: rem(14);
        font-family: $font-text;
        color: $color-lightblue;
    }
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 16;
        height: rem(60);
        font-size: rem(24);
        font-weight: 700;
        line-height: rem(30);
        font-family: $font-title;
        color: $color-text;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 32;
        height: rem(120);
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(30);
        font-family: $font-text;
        color: $color-text-2;

    }
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 36;
        
        &--box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(76);
            height: rem(45);
            font-size: rem(20);
            font-weight: 500;
            border-radius: rem(22.5);
            font-family: $font-text;
            color: $color-orange;
            border: solid 2px $color-orange ;
            
        }

        &--link {
            text-decoration: none;
            color: $color-orange;
        }
    }
}