.footer__section {
    background-color: $color-footer;
    position: relative;
}

.footer {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    height          : rem(465);
    background-color: $color-footer;
    font-family     : $font-text;

    @include tablet {
        flex-direction: row;
        height        : rem(240);
        min-width     : rem(720);
        padding-top   : rem(45);
    }

    &__button {
        position:absolute;
        top      : rem(-22.5);
        left: 50%;
        transform: translate(-50%);
        animation-name: grow;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

    &__nav-sections {
        display        : flex;
        flex-direction : column;
        justify-content: flex-end;
        flex-grow      : 13;

        @include tablet {
            justify-content: flex-start;
            align-items    : flex-start;
            flex-grow      : 4;
        }

        &--box {
            display        : flex;
            flex-direction : column;
            justify-content: space-evenly;
            align-items    : center;
            height         : rem(150);

            @include tablet {
                align-items: flex-start;
                max-width  : rem(210);
            }
        }

        &--item {
            color          : $color-white;
            text-decoration: none;
            text-transform : uppercase;
            text-align     : center;

            @include tablet {
                text-align: start;
            }
        }
    }

    &__nav-rrss {
        display        : flex;
        flex-direction : column;
        justify-content: flex-end;
        flex-grow      : 6;

        @include tablet {
            justify-content: flex-start;
            flex-grow      : 4;
        }

        &--box {
            display        : flex;
            flex-direction : column;
            justify-content: space-evenly;
            align-items    : center;
            height         : rem(90);

            @include tablet {
                justify-content: space-evenly;
                align-items    : flex-start;
                max-width      : rem(210);
            }
        }

        &--item {
            color          : $color-white;
            text-decoration: none;
            text-transform : uppercase;
            text-align     : center;
        }
    }

    &__copy {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        flex-grow      : 16;

        @include tablet {
            justify-content: flex-start;
            align-items    : flex-start;
            flex-grow      : 4;
            order          : -1;
        }

        &--text {
            height     : rem(30);
            font-size  : 14px;
            line-height: 2.14;
            color      : $color-white;

            @include tablet {
                max-width: rem(210);
            }
        }

        &--heart {
            font-size: 14px;
            color    : $color-orange;
        }
    }
}