.header {
    height: 100vh;

    &__cover {
        background         : url(../images/cover.jpg);
        background-position: 50% 0%;

        // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 25%, $color-text);
        @include tablet {
            background-size    : 768px 100vh;
            background-position: cover;
        }

        @include desktop {
            height         : 400px;
            background-size: 1440px 400px;
        }
    }

    &__menu {
        display         : flex;
        width           : rem(44);
        height          : rem(44);
        position        : fixed;
        top             : 0;
        justify-content : center;
        align-items     : center;
        background-color: $color-menu;

        &--link {
            display    : flex;
            width      : rem(16);
            height     : rem(14);
            align-items: center;
        }
    }

    &__container {
        display        : flex;
        flex-direction : column;
        justify-content: flex-end;
        height         : 100vh;
        color          : $color-white;

        &--title {
            display        : flex;
            flex-direction : column;
            justify-content: flex-end;
            flex-grow      : 7;
            height         : rem(110);
            font-size      : rem(42);
            font-weight    : bold;
            text-align     : center;
            line-height    : 1.31;
            font-family    : $font-title;
            text-transform : uppercase;

            @include tablet {
                height     : rem(212);
                font-size  : rem(80);
                line-height: 1.33;
            }

        }

        &--text {
            display        : flex;
            flex-direction : column;
            justify-content: flex-end;
            flex-grow      : 0.5;
            height         : rem(21);
            font-family    : $font-text;
            font-size      : rem(16);
            text-align     : center;

            @include tablet {
                height   : rem(32);
                font-size: rem(24);
            }

        }

        &--button {
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-grow      : 2.5;
            height         : rem(45);
        }
    }
}