//Central column
.page-wrapper {
  margin: 0 rem(15);

  @include tablet {
    margin: 0 rem(39);
  }
}

.page-wrapper-desktop {
  @include desktop {
    margin: 0 auto;
    max-width: rem(730);
  }
}

.page-wrapper-footer {
  @include desktop {
    margin: 0 auto;
    max-width: rem(540);

  }
}