//Central column
.page-wrapper {
  margin             : 0 15px;
  // background-color: pink;

  @include tablet {
    margin: 0 39px;
  }

  @include desktop {
    margin   : 0 auto;
    max-width: 1120px;
  }
}

.page-wrapper-desktop {
  @include desktop {
    margin: 0 275px;
  }
}

.page-wrapper-reasons {
  @include desktop {
    margin: 0 85px;
    max-width: 1110px;
  }
}

.page-wrapper-footer {
  @include desktop {
    margin: 0 370px;
  }
}