.reasons {
    display: grid;
    grid-template-rows: rem(105) repeat(3, rem(123)) rem(150);
    justify-content:center;
    align-content: center;
    height: rem(624);
    
    background-color: $color-background;
    // background-color: skyblue;
    
    &__title {
        display: grid;
        align-content: flex-end;
        height: rem(60);
        font-family: $font-title;
        font-size: rem(24);
        text-align: center;
        text-transform: capitalize;
    }

    &__button {
        display        : grid;
        justify-content: center;
        align-items    : center;
        height: rem(110); /*Acomodarlo a un centro parecido del layout*/
        &--box {
            display        : grid;
            justify-content: center;
            align-items    : center;
            width          : rem(184);
            height         : rem(45);
            border-radius  : rem(22.5);
            background-color: $color-orange;
            
        }
        &--link {
            text-decoration: none;
            font-weight    : 400;
            font-size      : rem(20);
            font-family    : $font-text;
            color          : $color-background;
        }
    }
}