.reasons__section {
    background-color: $color-background;
}

.reasons {
    display           : grid;
    grid-template-rows: rem(105) repeat(3, rem(123)) rem(150);
    justify-content   : center;
    align-content     : center;
    height            : rem(624);
    background-color  : $color-background;

    @include tablet {
        grid-template-columns: repeat (3, rem(212.3));
        grid-template-rows   : rem(120) rem(112) rem(165);
        column-gap           : rem(27.7);
        height               : rem(397);
    }

    @include desktop {
        grid-template-columns: repeat (3 rem(353.8));
        grid-template-rows   : rem(150) rem(112) rem(165);
        column-gap           : rem(26.2);
        height               : rem(427);

    }

    &__title {
        display       : grid;
        align-content : flex-end;
        height        : rem(60);
        font-size     : rem(24);
        text-align    : center;
        text-transform: capitalize;
        font-family   : $font-title;

        @include tablet {
            grid-column  : 1 / span 3;
            align-content: center;
            height       : rem(120);
            font-size    : rem(26);
        }

        @include desktop {
            font-size: rem(32);
        }
    }

    &__button {
        display        : grid;
        justify-content: center;
        align-items    : center;
        height         : rem(105);


        @include tablet {
            grid-column: 2 / span 1;
            height     : rem(165);
        }

        &--box {
            display         : grid;
            justify-content : center;
            align-items     : center;
            width           : rem(184);
            height          : rem(45);
            border-radius   : rem(22.5);
            background-color: $color-orange;

            &:hover, &:active {
                border          : solid 2px $color-orange;
                background-color: $color-white;
            }
        
            @include tablet {
                width: rem(210);
            }

            @include desktop {
                width: rem(255);
            }
        }

        &--link {
            text-decoration: none;
            font-weight    : 500;
            font-size      : rem(20);
            font-family    : $font-text;
            color          : $color-background;
            padding        : rem(10) rem(20);
            
            &:hover {
                color          : $color-orange;

            }
            
            @include tablet {
                padding: rem(15) rem(30);
            }
            
            @include desktop {
                padding        : rem(15) rem(46);
            }

        }
    }
}